.sinmin-form-control {
  display: block;
  width: 100%;
  height: 26px;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.sinmin-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.sinmin-form-group{
  width: 100%;
  margin-bottom: 5px;
}

.sinmin-radio label,
.sinmin-checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.sinmin-radio input[type="radio"],
.sinmin-radio-inline input[type="radio"],
.sinmin-checkbox input[type="checkbox"],
.sinmin-checkbox-inline input[type="checkbox"] {
  /*position: absolute;*/
  margin-top: 4px \9;
  margin-left: -20px;
}

.sinmin-label{
  margin-bottom: 2px;
}

.sinmin-form-control[disabled],
.sinmin-form-control[readonly],
fieldset[disabled] .sinmin-form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.sinmin-panel-purple {
    border-color: #996699;
}

.sinmin-panel-purple .panel-heading {
    border-color: #996699;
    color: #fff;
    background-color: #996699;
}

.sinmin-panel-purple .panel-heading:hover {
    background-color: #8C489F;
    border-color: #8C489F;
}

.sinmin-panel-purple a {
    color: #996699;
}

.sinmin-panel-purple a:hover {
    color: #b52b27;
}

.sinmin-panel-blue {
    border-color: #428BCA;
}

.sinmin-panel-blue .panel-heading {
    border-color: #428BCA;
    color: #fff;
    background-color: #428BCA;
}

.sinmin-panel-blue .panel-heading:hover {
    background-color: #0B62A4;
    border-color: #0B62A4;
}

.sinmin-panel-blue a {
    color: #428BCA;
}

.sinmin-panel-blue a:hover {
    color: #b52b27;
}

.sinmin-panel-gray {
    border-color: #808080;
}

.sinmin-panel-gray .panel-heading {
    border-color: #808080;
    color: #fff;
    background-color: #808080;
}

.sinmin-panel-gray .panel-heading:hover {
    background-color: #808060;
    border-color: #808060;
}

.sinmin-panel-gray a {
    color: #808080;
}

.sinmin-panel-gray a:hover {
    color: #b52b27;
}


.sinmin-panel-green {
    border-color: #5CB85C;
}

.sinmin-panel-green .panel-heading {
    border-color: #5CB85C;
    color: #fff;
    background-color: #5CB85C;
}

.sinmin-panel-green .panel-heading:hover {
    background-color: #266A2E;
    border-color: #266A2E;
}

.sinmin-panel-green a {
    color: #5CB85C;
}

.sinmin-panel-green a:hover {
    color: #b52b27;
}

#light_box {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 400px;
        position: relative;
        display: none;
}
#close_x { 
    display: block;
    position: absolute; top: 5px; right: 5px;
}

.sinmin-panel-body{
  min-height: 150px;
}